/*General styling*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color:#E9ECEF;
    outline: 1px black;
    list-style-type: none;
    text-decoration: none;
}

body{
    background-color: #212529;
    overflow-y: auto; /* Enable vertical scroll within the list */
}

.container {
    display: flex;
    flex-grow: 1; 
    flex-direction: column;

}


/*Nav bar*/
.nav {
    border-bottom: 10px;
    background-color: #212529;
    width: 100%;
    position: fixed;
    top: 0;
    color: #fff;
    left: 0; /* Align the nav to the left */
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.nav-items {
    margin-left: auto; /* Push the navigation items to the right */
    padding: 15px; /* Adjust padding as needed */
    display: flex;
}

.nav a {
    height: 20px;
    padding:15px;
    font-weight: bold;
    font-size: 20px;
}

.nav-items>*:hover, .nav a:hover {
    transform: scale(1.2);
    color: #ADB5BD;
}


/*dark light mode*/
.mode-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    left: 1%;
    position: relative;
    outline: none;
}

.mode-toggle .sun {
    display: none; /* Initially hide the moon */
    color: #212529
}

.mode-toggle .moon {
    display: block; /* Show the sun by default */
}

/* When in dark mode */
body.light-mode .mode-toggle .sun {
    display: block; /* Show the moon in dark mode */
}

body.light-mode .mode-toggle .moon {
    display: none; /* Hide the sun in  mode */
}

/*main*/


.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.card {
    width: 80%;
    height:auto;
    border: 1px solid #181c20;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for the card content */
.card-content {
    align-items: center;
    padding: 15px;
}

/* Styling for the card title */
.card-content h1 {  
    margin: 0;
}

/* Styling for the card description */
.card-content div {
    font-size: 14px;
    margin: 10px 0;
}

.to-do-list {
    max-height: calc(50vh - 500px); /* Adjust this value as needed */

}

.list-item{
    padding:10px;
}

/*Footer*/
.footer {
    border-top:100px;
    bottom: 100%; /* Place the footer at the bottom */
    left: 0; /* Adjust the left position if needed */
    width: 100%; /* Take the full width of the viewport */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background: #181c20;
    padding: 5px;
    /* Assuming it's a flex container, set flex-direction */
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.footer-items{
    display:flex;
    justify-content: space-between; /* Distributes space between elements */
    align-items: center; /* Aligns items vertically */

}

.contact{
    display: flex;
    list-style-type: none;
}

.contact>*:hover, .contact a:hover {
    transform: scale(1.2);
    color: #ADB5BD;
}

.contact li{
    padding: 10%;
}

.kont {
    padding: 20px;
    font-weight: bold;
    font-size: 23px;
}